/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* Fieldset comes with an auto border that you need to remove */
fieldset {
  border: 0;
}

main img {
  width: 100%; /* Changing the width from 100px to 100% makes the images align properly*/
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

/* All you have to do to fix the nav is make use of flexbox and justify-content */
header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

.location {
  display: flex;
  justify-content: center;
}

.location input {
  margin-bottom: 20px;
  margin-left: 33px;
  width: 180px;
}

.arrive {
  display: flex;
  justify-content: center;
}

.arrive input {
  margin-bottom: 20px;
  margin-left: 50px;
  width: 180px;
}

.depart {
  display: flex;
  justify-content: center;
}

.depart input {
  margin-bottom: 20px;
  margin-left: 45px;
  width: 180px;
}

.type {
  display: flex;
  justify-content: center;
}

.type select {
  margin-bottom: 20px;
  margin-left: 66px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  About ------- */

.about-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pool {
  margin: 0px 15px 5px 15px;
}

.stone-interior {
  margin: 5px 15px 15px 15px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  form {
    justify-content: center;
  }
  fieldset {
    width: 100%
  }
  .location {
    justify-content: space-evenly;
  }
  .arrive {
    justify-content: space-evenly;
  }
  .depart {
    justify-content: space-evenly;
  }
  .type {
    justify-content: space-evenly;
  }
}
